<div class="navbar-item has-dropdow is-hoverable">
  <div class="dropdown-trigger">
    <span class="is-white" aria-haspopup="true" aria-controls="dropdown-menu3">
      <%= image_tag('thumb-up.svg', class: 'icon') %> <strong>Like</strong>
    </span>
  </div>
  <div class="navbar-dropdown is-right">
    <% like_route, like_method = liker(object.class.name, object.id, 'like') %>
    <%= link_to image_tag('like.svg'), like_route, method: like_method %>

    <% dislike_route, dislike_method = liker(object.class.name, object.id, 'dislike') %>
    <%= link_to image_tag('like.svg', class: 'dislike'), dislike_route, method: dislike_method %>

    <% laugh_route, laugh_method = liker(object.class.name, object.id, 'laugh') %>
    <%= link_to image_tag('laughing.svg'), laugh_route, method: laugh_method %>
  </div>
</div>
