<div class="">
  <div class="">
    <i class="fas fa-thumbs-up"> (<%= object.likes.liking.count %>) </i>
    <i class="fas fa-thumbs-down">(<%= object.likes.disliking.count %>)</i>
    <i class="fas fa-grin-squint">(<%= object.likes.laughing.count %>)</i>
  </div>
</div>
