<% friends = user.friends %>
<div class="">
  <p>Friends(<%= friends.count %>)</p>
  <% friends.each do |f| %>
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= gravatar_image_tag(f.email, size: 64, alt: f.username) %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <small><%= "#{f.username}" %></small
          </p>
        </div>
      </div>
    </article>
  <% end %>
</div>
