<% friends = user.friends %>
<div class="">
  <p>Friends(<%= friends.count %>)</p>
  <% friends.each do |friend| %>
    <article class="media">
      <div class="media-left">
        <figure class="image">
          <%= image_tag user_avatar(friend, 64), class: 'is-rounded' %>
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
              <strong> <%= link_to "#{friend.username}", user_path(id: friend.id) %></strong>
          </p>
        </div>
      </div>
    </article>
  <% end %>
</div>
