<div class="">
  <div class="">
    <i class="fas fa-thumbs-up"> (<%= post.likes.like.count %>) </i>
    <i class="fas fa-thumbs-down">(<%= post.likes.dislike.count %>)</i>
    <i class="fas fa-grin-squint">(<%= post.likes.laugh.count %>)</i>
  </div>
</div>
