<div class="">
  <div class="">
    <i class="fas fa-thumbs-up"> (<%= comment.likes.liking.count %>) </i>
    <i class="fas fa-thumbs-down">(<%= comment.likes.disliking.count %>)</i>
    <i class="fas fa-grin-squint">(<%= comment.likes.laughing.count %>)</i>
  </div>
</div>
