<div class="columns">
  <div class="column">
    <%= render 'profile', current_user: @user %>
  </div>
  <div class="column is-three-fifths">
    <%= render 'form', post: @post %>
    <% @all_post.each do |p| %>
      <ol class="microposts">
        <%= p.content %>
      </ol>
    <% end %>
  </div>
  <div class="column">Auto</div>
</div>
