@import "bulma";

.bg-blue{
  background-color: rgb(0, 191, 255);
}
.navbar.is-info .navbar-start .navbar-link::after, .navbar.is-info .navbar-end .navbar-link::after {
    border: none;
}

.allow:active {
    background-color: none !important;
    color: #f9f9f9;
}

.texter {
  font-family: 'Playfair Display', serif;
}

.ml {
  margin-left: 5px;
}

.top-space {
  margin-top: 5px;
}
#logo {
  width: 159px;
  height: 66px;
}

.is-darker {
  color: hsl(0, 0%, 21%) !important;
}

.top-margin {
  margin-top: 20px;
}

.top-margin-index {
  margin-top: 5px;
}

.left-margin {
  margin-left: 5px;
}

.icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
}
.icon-right {
  right: 8px;
}

.nav-right {
  margin-right: 5px;
}

.rotate {
  transform: rotate(180deg);
  position: relative;
  top: 7px;
}

.dislike {
  transform: rotate(180deg);
  position: relative;
  top: 8px;
}
.top-like {
  margin-top: 5px;
}

.container-gap {
  margin: 0 20px;
}

.add-important {
  position: relative;
  margin-bottom: 0 !important;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 10px 0; padding: 0;
}
.signup-picture {
  border-radius: 50% ;
}
