@import "bulma";

.bg-blue{
  background-color: rgb(0, 191, 255);
}
.navbar.is-info .navbar-start .navbar-link::after, .navbar.is-info .navbar-end .navbar-link::after {
    border: none;
}

.allow:active {
    background-color: none !important;
    color: #f9f9f9;
}

.texter {
  font-family: 'Playfair Display', serif;
}

.ml {
  margin-left: 5px;
}

.top-space {
  margin-top: 5px;
}
#logo {
  width: 159px;
  height: 66px;
}

.is-darker {
  color: hsl(0, 0%, 21%) !important;
}

.top-margin {
  margin-top: 20px;
}

.top-margin-index {
  margin-top: 5px;
}

.left-margin {
  margin-left: 5px;
}

.icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
}
.icon-right {
  right: 8px;
}

.nav-right {
  margin-right: 5px;
}

.rotate {
  transform: rotate(180deg);
  position: relative;
  top: 7px;
}

.reaction-icon {
  width: 12px;
  height: 12px;
}
.dislike {
  transform: rotate(180deg);
  position: relative;
  top: 8px;
}
.top-like {
  margin-top: 5px;
}

.container-gap {
  margin: 0 20px;
}

.add-important {
  position: relative;
  margin-bottom: 0 !important;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 10px 0; padding: 0;
}
.signup-picture {
  border-radius: 50% ;
}

.media + .media {
    margin-top: 0.75rem;
    padding-top: 0;
}

.media .media {
    padding-top: 0;
}

.field:not(:last-child) {
    margin-bottom: 0;
}

.profile-name{
  font-size: 0.75rem;
}


.profile-info{
  font-size: 0.90rem;
}

.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .tabs:not(:last-child) {
  margin-bottom: 0.75rem;
}

.column {
  padding: 0.75rem 0.20rem;
}
