@import "bulma";

.top-space{
  margin-top: 65px;
}
#logo {
  margin-top: 15px;
  width: 112px;
  height: 28px;
}

.is-darker{
  color: hsl(0, 0%, 21%) !important;
}
.top-margin{
  margin-top: 20px;
}
